<h1 class="text-4xl font-bold mb-6">今まで生成された話題</h1>

<%= link_to "トップに戻る", root_path, class: "text-blue-400 hover:text-blue-500" %>

<div class="w-full">
  <%= search_form_for @q, url: topics_path, method: :get, class: "my-4" do |f| %>
    <div class="flex flex-row justify-center items-center">
      <%= f.search_field :suggestions_content_cont, class: "block w-96 order-2 border-gray-300 rounded-lg p-2 mr-4", placeholder: "話題を検索" %>
      <%= f.submit "検索", class: "bg-blue-500 hover:bg-blue-600 transition-colors duration-200 text-white ml-2 py-2 px-4 rounded-lg" %>
    </div>
  <% end %>
</div>
<%= paginate @topics %>

<div class="flex flex-row flex-wrap justify-around w-full">
  <% @topics.each do |topic| %>
    <div class="w-4/5 lg:w-2/5 min-h-[300px] rounded-lg overflow-hidden shadow-lg py-4 mb-4">
      <div class="px-6">
        <% if topic.keyword.present? %>
          <div class="font-bold text-xl">キーワード：<%= topic.keyword %></div>
        <% else %>
          <div class="font-bold text-xl">キーワード：なし</div>
        <% end %>
      </div>
      <div class="px-6">
        <ul class="text-left list-decimal px-4">
          <% topic.suggestions.each do |suggestion| %>
            <div class="mt-4">
              <li>
                <%= link_to "#{suggestion.content}", suggestion_path(suggestion), class: "hover:text-blue-500" %>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%# topicsが奇数個の場合に左寄せにするため要素を追加 %>
  <% if @topics.size.odd? %>
    <div class="h-0 w-2/5"></div>
  <% end %>
</div>

<%= paginate @topics %>

<%= link_to "トップに戻る", root_path, class: "my-8 text-blue-400 hover:text-blue-500" %>
